<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="body">
      <!-- start of tag -->
      <section class="header">
        <div class="text-box">
          <h1 class="animation">KONGU HOSTEL</h1>
          <p>
            KEC has 8 hostels. Three for girls and Five for boys. The hostel is
            located within the campus and in a peaceful environment. <br />The
            college ensures perfect security.
          </p>
        </div>
      </section>
      <!-- about Page -->

      <section class="about">
        <h1 class="abouth1">About Hostel facilities</h1>
        <p class="aboutp">
          The students are provided with modern and updated facilities and
          infrastructure by the college.
        </p>
        <div class="row">
          <div class="about-col">
            <h3 class="abouth3">Boys Hostel</h3>
            <p class="aboutp">
              Dheeran Mens Hostel, Valluvar Mens Hostel, Ilango Mens Hostel,
              Bharathi Mens Hostel, Kamban Mens Hostel, Poonar Mens Hostel and
              Sankar Mens Hostel are the seven boys hostels located at the
              campus.
            </p>
          </div>
          <div class="about-col">
            <h3 class="abouth3">Alumini Guest House</h3>
            <p class="aboutp">
              Dheeran Mens Hostel, Valluvar Mens Hostel, Ilango Mens Hostel,
              Bharathi Mens Hostel, Kamban Mens Hostel, Poonar Mens Hostel and
              Sankar Mens Hostel are the seven boys hostels located at the
              campus.
            </p>
          </div>
          <div class="about-col">
            <h3 class="abouth3">Girls Hostel</h3>
            <p class="aboutp">
              The college has three girls hostels - Kaveri Ladies Hostel,
              Amaravathi Ladies Hostel and Bhavani Ladies Hostel. KEC Erode
              hostel facilities offer a comfortable stay to the students.
            </p>
          </div>
        </div>
      </section>
      <!-- boys-hostel -->
      <section class="bhostel">
        <h1>KEC HOSTELS</h1>
        <p class="aboutp">
          The students are provided with modern and updated facilities and
          infrastructure by the college.
        </p>
        <div class="hostel-row">
          <div class="bhostel-col">
            <img src="/homepage/dheeran.jpg" alt="dheeran hostel" />
            <h3 class="hostelh3">Amaravathi Hostel</h3>
            <p class="aboutp">
              The students are provided with modern and updated facilities and
              infrastructure by the college.
            </p>
          </div>
          <div class="bhostel-col">
            <img src="/homepage/dheeran.jpg" alt="dheeran hostel" />
            <h3 class="hostelh3">Kaveri Hostel</h3>
            <p class="aboutp">
              The students are provided with modern and updated facilities and
              infrastructure by the college.
            </p>
          </div>
          <div class="bhostel-col">
            <img src="/homepage/dheeran.jpg" alt="dheeran hostel" />
            <h3 class="hostelh3">Bhavani Hostel</h3>
            <p class="aboutp">
              The students are provided with modern and updated facilities and
              infrastructure by the college.
            </p>
          </div>
          <div class="bhostel-col">
            <img src="/homepage/dheeran.jpg" alt="dheeran hostel" />
            <h3 class="hostelh3">Deeran Hostel</h3>
            <p class="aboutp">
              The students are provided with modern and updated facilities and
              infrastructure by the college.
            </p>
          </div>
          <div class="bhostel-col">
            <img src="/homepage/dheeran.jpg" alt="dheeran hostel" />
            <h3 class="hostelh3">Valluvar Hostel</h3>
            <p class="aboutp">
              The students are provided with modern and updated facilities and
              infrastructure by the college.
            </p>
          </div>
          <div class="bhostel-col">
            <img src="/homepage/dheeran.jpg" alt="dheeran hostel" />
            <h3 class="hostelh3">Bharathi Hostel</h3>
            <p class="aboutp">
              The students are provided with modern and updated facilities and
              infrastructure by the college.
            </p>
          </div>
          <div class="bhostel-col">
            <img src="/homepage/dheeran.jpg" alt="dheeran hostel" />
            <h3 class="hostelh3">Ponnar Hostel</h3>
            <p class="aboutp">
              The students are provided with modern and updated facilities and
              infrastructure by the college.
            </p>
          </div>
          <div class="bhostel-col">
            <img src="/homepage/dheeran.jpg" alt="dheeran hostel" />
            <h3 class="hostelh3">Sankar Hostel</h3>
            <p class="aboutp">
              The students are provided with modern and updated facilities and
              infrastructure by the college.
            </p>
          </div>
          <div class="bhostel-col">
            <img src="/homepage/dheeran.jpg" alt="dheeran hostel" />
            <h3 class="hostelh3">Kamban Hostel</h3>
            <p class="aboutp">
              The students are provided with modern and updated facilities and
              infrastructure by the college.
            </p>
          </div>
          <div class="bhostel-col">
            <img src="/homepage/dheeran.jpg" alt="dheeran hostel" />
            <h3 class="hostelh3">Elango Hostel</h3>
            <p class="aboutp">
              The students are provided with modern and updated facilities and
              infrastructure by the college.
            </p>
          </div>
          <div class="bhostel-col">
            <img src="/homepage/dheeran.jpg" alt="dheeran hostel" />
            <h3 class="hostelh3">Guest Hostel</h3>
            <p class="aboutp">
              The students are provided with modern and updated facilities and
              infrastructure by the college.
            </p>
          </div>
          <div class="bhostel-col">
            <img src="/homepage/dheeran.jpg" alt="dheeran hostel" />
            <h3 class="hostelh3">Staff Quarters</h3>
            <p class="aboutp">
              The students are provided with modern and updated facilities and
              infrastructure by the college.
            </p>
          </div>
        </div>
      </section>
      <!-- facilities slidder -->
      <div class="slideshow-container">
        <div class="slideshow" data-transition="fade">
          <input
            type="radio"
            name="ss2"
            id="ss2-item-1"
            class="slideshow-bullet"
            checked="checked"
          />
          <div class="slideshow-item">
            <img src="/homepage/greenenvironment.jpg" alt="gym" />
            <label for="ss2-item-3" class="slideshow-nav slideshow-nav-prev"
              >Go to slide 3
            </label>
            <label for="ss2-item-2" class="slideshow-nav slideshow-nav-next"
              >Go to slide 2</label
            >
          </div>

          <input
            type="radio"
            name="ss2"
            id="ss2-item-2"
            class="slideshow-bullet"
          />
          <div class="slideshow-item">
            <img src="/homepage/parentsvisitors.jpg" alt="gym" />
            <label for="ss2-item-1" class="slideshow-nav slideshow-nav-prev"
              >Go to slide 1
            </label>
            <label for="ss2-item-3" class="slideshow-nav slideshow-nav-next"
              >Go to slide 3</label
            >
          </div>

          <input
            type="radio"
            name="ss2"
            id="ss2-item-3"
            class="slideshow-bullet"
          />
          <div class="slideshow-item">
            <img src="/homepage/gym.jpg" alt="gym" />
            <label for="ss2-item-2" class="slideshow-nav slideshow-nav-prev"
              >Go to slide 2
            </label>
            <label for="ss2-item-4" class="slideshow-nav slideshow-nav-next"
              >Go to slide 4</label
            >
          </div>

          <input
            type="radio"
            name="ss2"
            id="ss2-item-4"
            class="slideshow-bullet"
          />
          <div class="slideshow-item">
            <img src="/homepage/dheeran.jpg" alt="gym" />
            <label for="ss2-item-3" class="slideshow-nav slideshow-nav-prev"
              >Go to slide 3
            </label>
            <label for="ss2-item-1" class="slideshow-nav slideshow-nav-next"
              >Go to slide 1</label
            >
          </div>
        </div>
        <div class="button-container">
          <span class="folio-button" @click="toggleFacility"
            >Click here to see all the Facilities</span
          >
        </div>
      </div>

      <div v-if="toggleFacilityButton" class="sectionfacility">
        <h1 class="heading1">Facility</h1>
        <div class="content-facility">
          <div class="grid">
            <figure class="effect-facility">
              <img
                class="facilityimg"
                src="/homepage/entrance.jpg"
                alt="img12"
              />
              <figcaption>
                <div>
                  <h2 class="facilityh2">Hostel<span> Entrance</span></h2>
                  <p class="facilityp">
                    Securized hostel with good <br />Infrastructure
                  </p>
                </div>
              </figcaption>
            </figure>
            <figure class="effect-facility">
              <img
                class="facilityimg"
                src="/homepage/waitinghall.jpg"
                alt="img1"
              />
              <figcaption>
                <div>
                  <h2 class="facilityh2">Waiting<span> Hall</span></h2>
                  <p class="facilityp">
                    Chairs are arranged to take<br />
                    some rest in the hall
                  </p>
                </div>
              </figcaption>
            </figure>
            <figure class="effect-facility">
              <img
                class="facilityimg"
                src="/homepage/parentsvisitors.jpg"
                alt="img1"
              />
              <figcaption>
                <div>
                  <h2 class="facilityh2">
                    Parents<span> Visitors Place</span>
                  </h2>
                  <p class="facilityp">
                    Place given to spend some time <br />with their parents
                  </p>
                </div>
              </figcaption>
            </figure>
            <figure class="effect-facility">
              <img
                class="facilityimg"
                src="/homepage/cleanenvironment.jpg"
                alt="img1"
              />
              <figcaption>
                <div>
                  <h2 class="facilityh2">Clean<span> Environment</span></h2>
                  <p class="facilityp">
                    Hostel is fully neat with <br />good environment
                  </p>
                </div>
              </figcaption>
            </figure>
            <figure class="effect-facility">
              <img
                class="facilityimg"
                src="/homepage/computerlab.jpg"
                alt="img1"
              />
              <figcaption>
                <div>
                  <h2 class="facilityh2">Computer<span> Lab</span></h2>
                  <p class="facilityp">
                    CC are arranged for<br />
                    the hostel students for their <br />study purpose
                  </p>
                </div>
              </figcaption>
            </figure>
            <figure class="effect-facility">
              <img class="facilityimg" src="/homepage/gym.jpg" alt="img1" />
              <figcaption>
                <div>
                  <h2 class="facilityh2">Hostel<span> Gym</span></h2>
                  <p class="facilityp">
                    Gyms are arranged inside the hostel <br />campus to do
                    workouts
                  </p>
                </div>
              </figcaption>
            </figure>
            <figure class="effect-facility">
              <img
                class="facilityimg"
                src="/homepage/corridor.jpg"
                alt="img1"
              />
              <figcaption>
                <div>
                  <h2 class="facilityh2">Clean<span> Corridor</span></h2>
                  <p class="facilityp">
                    Corridors are always clean and they<br />
                    provide dustbins infront<br />
                    of all the rooms
                  </p>
                </div>
              </figcaption>
            </figure>
            <figure class="effect-facility">
              <img class="facilityimg" src="/homepage/cctv.jpg" alt="img1" />
              <figcaption>
                <div>
                  <h2 class="facilityh2">CCTV for<span> Security</span></h2>
                  <p class="facilityp">
                    CCTV cameras are placed for the<br />
                    security purpose
                  </p>
                </div>
              </figcaption>
            </figure>
            <figure class="effect-facility">
              <img
                class="facilityimg"
                src="/homepage/rainwaterharvesting.jpg"
                alt="img1"
              />
              <figcaption>
                <div>
                  <h2 class="facilityh2">Rainwater<span> Harvesting</span></h2>
                  <p class="facilityp">
                    Rainwater harvesting to save<br />
                    the rain water
                  </p>
                </div>
              </figcaption>
            </figure>
            <figure class="effect-facility">
              <img class="facilityimg" src="/homepage/tvroom.jpg" alt="img1" />
              <figcaption>
                <div>
                  <h2 class="facilityh2">TV<span> Room</span></h2>
                  <p class="facilityp">
                    Tv room for the hostel students <br />to take some rest
                  </p>
                </div>
              </figcaption>
            </figure>
            <figure class="effect-facility">
              <img
                class="facilityimg"
                src="/homepage/indoorgames.jpg"
                alt="img1"
              />
              <figcaption>
                <div>
                  <h2 class="facilityh2">Indoor<span> Games</span></h2>
                  <p class="facilityp">
                    There are many indoor games <br />inside the hostel
                  </p>
                </div>
              </figcaption>
            </figure>
            <figure class="effect-facility">
              <img class="facilityimg" src="/homepage/room.jpg" alt="img1" />
              <figcaption>
                <div>
                  <h2 class="facilityh2">Hostel<span> Room</span></h2>
                  <p class="facilityp">
                    Rooms are provided with beds<br />
                    and study table<br />
                    for each students
                  </p>
                </div>
              </figcaption>
            </figure>
            <figure class="effect-facility">
              <img class="facilityimg" src="/homepage/tvroom.jpg" alt="img1" />
              <figcaption>
                <div>
                  <h2 class="facilityh2">TV<span> Room</span></h2>
                  <p class="facilityp">
                    Lily likes to play with<br />
                    crayons and pencils
                  </p>
                </div>
              </figcaption>
            </figure>
            <figure class="effect-facility">
              <img
                class="facilityimg"
                src="/homepage/greenenvironment.jpg"
                alt="img1"
              />
              <figcaption>
                <div>
                  <h2 class="facilityh2">Green<span> Environment</span></h2>
                  <p class="facilityp">
                    The hostel is surrounded<br />
                    with full of green<br />
                    environment and pleasant air
                  </p>
                </div>
              </figcaption>
            </figure>
          </div>
        </div>
      </div>

      <!-- testimonials -->
      <section class="testimonials">
        <h1 class="heading1">Head of the Kongu Hostel</h1>
        <p class="heading1">
          Associate warden and principal are the main head of the kongu Hostel
        </p>
        <div class="row">
          <div class="testimonial-col">
            <img src="/homepage/dheeran.jpg" alt="principal" />
            <div>
              <p class="testimonialp">
                The college has three girls hostels - Kaveri Ladies Hostel,
                Amaravathi Ladies Hostel and Bhavani Ladies Hostel. KEC Erode
                hostel facilities offer a comfortable stay to the students.
              </p>
              <h3 class="testimonialh3">Principal</h3>
            </div>
          </div>
          <div class="testimonial-col">
            <img src="/homepage/dheeran.jpg" alt="Associate Warden" />
            <div>
              <p class="testimonialp">
                The college has three girls hostels - Kaveri Ladies Hostel,
                Amaravathi Ladies Hostel and Bhavani Ladies Hostel. KEC Erode
                hostel facilities offer a comfortable stay to the students.
              </p>
              <h3 class="testimonialh3">Associate Warden</h3>
            </div>
          </div>
        </div>
      </section>
      <!-- contact -->
      <section class="contact">
        <h1 class="contacth1">For your queries, feel free to contact.</h1>
        <a href="#" class="visit-btn">CONTACT US </a>
      </section>
      <!-- footer -->
      <div class="footer">
        <div class="inner-footer">
          <!--  for company name and description -->
          <div class="footer-items">
            <h1>Kongu Hostels</h1>
            <p>A place you feel like home.</p>
          </div>

          <!--  for quick links  -->
          <div class="footer-items">
            <h3 class=>Quick Links</h3>
            <div class="border1"></div>
            <!--for the underline -->
            <ul class="ul">
              <a href="#"><li>Home</li></a>
              <a href="#"><li>Search</li></a>
              <a href="#"><li>Contact</li></a>
              <a href="#"><li>About</li></a>
            </ul>
          </div>

          <!--  for some other links -->
          <div class="footer-items">
            <h3>links</h3>
            <div class="border1"></div>
            <!--for the underline -->
            <ul class="ul">
              <a href="#"><li>kongu.edu</li></a>
              <a href="#"><li>kongu.ac.in</li></a>
              <!-- <a href="#"><li></li></a> -->
              <!-- <a href="#"><li>Italian</li></a> -->
            </ul>
          </div>

          <!--  for contact us info -->
          <div class="footer-items">
            <h3>Contact us</h3>
            <div class="border1"></div>
            <ul class="ul">
              <li>
                <i class="fa fa-map-marker" aria-hidden="true"></i>XYZ, abc
              </li>
              <li><i class="fa fa-phone" aria-hidden="true"></i>123456789</li>
              <li>
                <i class="fa fa-envelope" aria-hidden="true"></i>xyz@gmail.com
              </li>
            </ul>

            <!--   for social links -->
            <!-- <div class="social-media">
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-facebook"></i></a>
                <a href="#"><i class="fab fa-google-plus-square"></i></a>
              </div> -->
          </div>
        </div>

        <!--   Footer Bottom start  -->
        <div class="footer-bottom">Copyright &copy; Kongu Hostels 2022.</div>
      </div>

      <!-- end of tag -->
    </div>
    <script>
      export default {
        name: "MainPage",
        data() {
          return {
            toggleFacilityButton: false,
          };
        },
        methods: {
          toggleFacility() {
            this.toggleFacilityButton = !this.toggleFacilityButton;
          },
        },
      };
    </script>
  </body>
</html>
